<app-header [title]="'NewsApp'" [showBackButton]="true"></app-header>
<ion-content class="news-detail-content">
  <div class="news-container">
    <div class="news-header">
      <h1 class="news-title">{{ news.title }}</h1>
    </div>

    <div class="news-image-container" *ngIf="news.urlToImage">
      <img [src]="news.urlToImage" [alt]="news.title" class="news-image" />
    </div>

    <div class="news-info">
      <span class="source">{{ news.source.name }}</span>
      <span class="bullet">•</span>
      <span class="date">{{ news.publishedAt }}</span>
      <span class="bullet">•</span>
      <span class="author">Por {{ news.author || "Redacción" }}</span>
    </div>

    <div class="news-body">
      <div class="news-content">
        <p>{{ news.content }}</p>
      </div>
    </div>

    <div class="read-more-container">
      <app-button
        text="Leer artículo completo"
        color="orange"
        iconStart="open-outline"
        (buttonClick)="openNewsWeb()"
      >
      </app-button>
    </div>
  </div>
</ion-content>
