
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon slot="icon-only" name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      The News
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="modal-content">
    <h2>{{news.title}}</h2>
    <p class="news-meta">
      <span class="source">{{news.source.name}}</span>
      <span class="bullet">•</span>
      <span class="date">{{news.publishedAt}}</span>
      <span class="bullet">•</span>
      <span class="authors">By {{news.author}}</span>
    </p>
    <img [src]="news.urlToImage" [alt]="news.title" *ngIf="news.urlToImage" />
    <p class="description">{{news.description}}</p>
    <p class="content">{{news.content}}</p>
    <div class="read-more">
      <ion-button fill="clear" size="small" href="{{news.url}}" target="_blank">
        Read full article
        <ion-icon slot="end" name="arrow-forward"></ion-icon>
      </ion-button>
    </div>
  </div>
</ion-content>
